.container {
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.row-container {
  margin: 2rem auto;
  padding: 1rem !important;
  width: fit-content !important;
  background-color: #333333bf;
  border: 2px solid #61dafb !important;
}
.row-container h1 {
  color: #ffff;
}

.row {
  margin: 2rem 1.6rem !important;
}

.flexed {
  display: flex;
  justify-content: space-between;
}

.flexed > .btn {
  margin: 1rem;
}

.grided {
  display: grid;
  padding: 2rem;
  border: 2px solid;
  align-content: center;
  grid-template-columns: repeat(3, 1fr);
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 5vmin;
}

.App-header {
  color: white;
  padding: 1rem;
  display: flex;
  max-height: 25vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background-image: url('../imgs/header_bg.jpg');
}

.App-link,
.timer {
  font-size: 14px;
  color: #61dafb;
}

.btn {
  float: left;
  width: 14rem;
  max-width: 16.6rem;
  box-shadow: 1px 1px #333;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
